* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #000;
  font-size: 20px;
}

.page {
  margin: 0;
}

.logo {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
}

.nav-center {
  background-color: blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
  padding:14px 0;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  padding: 0 14px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
}

li a:hover {
  font-weight: bolder;
}

.active {
  background: #000;
  padding: 2px 4px
}

main {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 4px;
  letter-spacing: 3px;
}

.btn-container {
  margin-top: 10px;
}

#btn {
  padding: 9px 22px;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
}

footer {
  background-color: #222;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

.foot1 {
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot1 a {
  padding: 0 10px;
}

.foot1 i {
  font-size: 28px;
  color: #fff;
}

.foot1 i:hover {
  color: inherit;
}

.foot2 {
  margin-bottom: 4px;
}

/*
=================================
      mobile view
=================================
 */
@media (max-width: 768px){
  *{
    font-size: 20px;
  }
  main{
    min-height: 84vh;
  }
  .nav-center{
    flex-direction: column;
  }
  ul{
    margin-top: 12px;
  }
  .header{
    margin: 0 4px;
  }
  #btn{
    margin-top: 15px;
    font-size: 20px;
  }
}

/*
=================================
      mobile view
=================================
 */
@media (max-width: 330px){
  .header{
    margin: 0 9px;
  }
  main{
    min-height: 81vh;
  }
}
@media (max-width: 1024px){
  main {
    min-height: 90vh;
  }
}
